<%- include("partials/header") %>
<header>
    <h1>Modo de Jogo</h1>
    <p>Escolha um modo de jogo e comece a competir!</p>
    <a href="#" class="btn">Jogar Contra o Computador</a>
    <a href="#" class="btn">Desafiar um Amigo</a>
</header>
<%- include("partials/footer") %>
