<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/login_cad.css">
</head>
<body>
    <h2>Cadastro</h2>
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Nome" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="/login">Faça login</a></p>
</body>
</html>
