/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.user-name {
    font-size: 1rem;
}

/* Estilos da loja */
main {
    padding: 20px;
}

.loja {
    text-align: center;
}

.itens-loja {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item h3 {
    margin: 10px 0;
    font-size: 18px;
}

.item p {
    font-size: 14px;
    color: #555;
}

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.add-to-cart {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.carrinho {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: center;
}

#itensCarrinho {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#itensCarrinho li {
    font-size: 1rem;
    color: #555;
}

#finalizarCompra {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

#finalizarCompra:hover {
    background-color: #e67e22;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .itens-loja {
        grid-template-columns: 1fr 1fr;
    }
}
